In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\HARSHITH\Downloads\pemfc_preprocessed_data.csv")
df.head()

,I,P,Q,T,Hydrogen,Oxygen,RH anode,Rh Cathode,V
0,-0.886787,-1.027522,-0.806638,-1.261444,-1.873236,-1.227992,-2.493136,-1.875273,491.114619
1,-0.886787,-1.027522,-0.806638,-1.261444,-1.872990,-1.227992,-2.493136,-1.875273,491.114619
2,-0.886787,-1.027522,-0.806638,-1.261444,-1.872671,-1.227991,-2.493136,-1.875273,491.114619
3,-0.886787,-1.027522,-0.806638,-1.261444,-1.870597,-1.227988,-2.493136,-1.875273,491.114619
4,-0.886787,-1.027522,-0.806638,-1.261444,-1.867493,-1.227981,-2.493136,-1.875273,491.114619

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   I           1491 non-null   float64
 1   P           1491 non-null   float64
 2   Q           1491 non-null   float64
 3   T           1491 non-null   float64
 4   Hydrogen    1491 non-null   float64
 5   Oxygen      1491 non-null   float64
 6   RH anode    1491 non-null   float64
 7   Rh Cathode  1491 non-null   float64
 8   V           1491 non-null   float64
dtypes: float64(9)
memory usage: 105.0 KB

In [4]:
df.describe()

,I,P,Q,T,Hydrogen,Oxygen,RH anode,Rh Cathode,V
count,1.491000e+03,1.491000e+03,1.491000e+03,1.491000e+03,1.491000e+03,1.491000e+03,1.491000e+03,1.491000e+03,1491.000000
mean,-1.143731e-16,-3.812436e-17,3.812436e-17,4.574923e-16,1.524974e-16,-1.143731e-16,-1.894781e-14,2.689731e-12,415.979051
std,1.000336e+00,1.000336e+00,1.000336e+00,1.000336e+00,1.000336e+00,1.000336e+00,1.000336e+00,1.000336e+00,62.182426
min,-8.867868e-01,-1.027522e+00,-8.066384e-01,-1.261444e+00,-1.873236e+00,-1.227992e+00,-2.493136e+00,-1.875273e+00,300.767404
25%,-8.669144e-01,-9.962673e-01,-8.004517e-01,-1.193796e+00,-8.027016e-01,-5.698701e-01,-5.112344e-01,-4.495906e-01,399.005626
50%,-3.728581e-01,-2.897759e-01,-4.659077e-01,3.834381e-01,-3.387112e-01,-5.121173e-01,-3.361999e-01,-1.211241e-01,421.497539
75%,3.667045e-01,6.719801e-01,2.840213e-01,7.280986e-01,4.541047e-01,4.776020e-01,8.100332e-01,5.008645e-01,464.497775
max,2.217133e+00,1.993872e+00,1.910731e+00,1.458798e+00,2.339314e+00,2.048810e+00,2.791935e+00,1.926547e+00,501.904108

In [6]:
current_range = [df['I'].min(), df['I'].max()]
print(f"Current range: {current_range}")

Current range: [-0.8867867547364153, 2.2171329261102786]

In [7]:
voltage_range = [df['V'].min(), df['V'].max()]
print(f"Voltage range: {voltage_range}")

Voltage range: [300.7674036000001, 501.9041084]

In [8]:
power_range = [df['P'].min(), df['P'].max()]
print(f"Power range: {power_range}")

Power range: [-1.0275222094546763, 1.993871788926572]

In [9]:
temperature_range = [df['T'].min(), df['T'].max()]
print(f"Temperature range: {temperature_range}")

Temperature range: [-1.26144424716395, 1.458798247702343]

In [11]:
hydrogen_flow_rate_range = [df['Hydrogen'].min(), df['Hydrogen'].max()]
print(f"Hydrogen flow rate range: {hydrogen_flow_rate_range}")

Hydrogen flow rate range: [-1.873235848499432, 2.3393141085865112]

In [12]:
oxygen_flow_rate_range = [df['Oxygen'].min(), df['Oxygen'].max()]
print(f"Oxygen flow rate range: {oxygen_flow_rate_range}")

Oxygen flow rate range: [-1.2279917195588557, 2.048810177221708]

In [14]:
relative_humidity_anode_range = [df['RH anode'].min(), df['RH anode'].max()]
print(f"Relative humidity (anode) range: {relative_humidity_anode_range}")

Relative humidity (anode) range: [-2.493135725509387, 2.791934504175718]

In [15]:
relative_humidity_cathode_range = [df['Rh Cathode'].min(), df['Rh Cathode'].max()]
print(f"Relative humidity (cathode) range: {relative_humidity_cathode_range}")

Relative humidity (cathode) range: [-1.8752733388297125, 1.9265472479384151]